@import "tailwindcss";

@theme {
  --animate-confetti: confetti 3s linear forwards;
  @keyframes confetti {
    0% { transform: translateY(0) rotate(0deg); opacity: 1; }
    100% { transform: translateY(100vh) rotate(720deg); opacity: 0; }
  }
}
